.datetime{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.2rem 0;
    span {
        font-size: 3.3rem;
    }
}

.datetime-text{
    display: flex;
    flex-direction: column;
    span {
        font-size: 1.1rem;
    }
}

hr{
    margin: 2rem 0;
}

.ticket-prices {
    list-style-type: none;
    margin: 1rem 0;
}

form {
    input[type="submit"]{
    width: 10%;
    font-size: 1.1rem;
    background-color: rgba(0,0,0, 0.7);
    color: white;
    border-radius: 20px;
    padding: 0.6rem 1rem;
    border: 0;
    cursor: pointer;
    box-shadow: 0px 0px 5px gray;
    transition: all ease-in-out 0.2s;
    }

    input[type="submit"]:hover {
        background-color: white;
        color: rgba(0,0,0, 0.7);
    }

    select {
        font-size: 1.2rem;
    }

    .checkbox-group{
        display:flex;
        flex-direction: column;


        input[type="number"] {
            width: 40px;
            visibility: hidden;
            text-align: center;
            font-size: 0.8rem;
        }
    }
}

.pay {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}